Package: com.wyattgahm.snapmonkey
Name: snapmonkey
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hehe monkie
Maintainer: Wyatt Gahm
Author: Wyatt Gahm
Section: Tweaks
Depends: mobilesubstrate, com.opa334.choicy
